.travelDateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: fit-content;
}

.travelHelperText {
  font-size: 0.7rem;
  font-style: italic;
  margin: 0;
}

.housemateCard {
  border-bottom: 1px solid rgb(128, 128, 128);
  padding-bottom: 1rem;
}
